.slider {
    position: relative;
    width: 100%;
    height: 934px;
    margin: auto;
    overflow: hidden;
    border-radius: 12px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--m1);
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    z-index: 99;
    background: unset !important;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
}

.dots button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    background: var(--m1);
    cursor: pointer;
}

.dots button.active {
    background: var(--p2);
}